[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "busylib"
version = "0.3.0"
description = "Python library for Busy Bar API"
readme = "README.md"
authors = [
  {name = "flipperdevices", email = "pypi@flipperdevices.com"}
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
requires-python = ">=3.10"
dependencies = [
    "httpx>=0.28.1",
    "pydantic>=2.9.0",
    "pydantic-settings>=2.12.0",
    "pydantic-extra-types>=2.9.0",
    "websockets>=12.0",
    "pytest>=8.4.1",
    "pytest-asyncio>=0.24.0",
    "pillow>=12.0.0",
]

[project.optional-dependencies]
dev = [
    "pytest==8.4.1",
    "pytest-asyncio==0.24.0",
    "pytest-cov",
    "ruff"
]

[project.urls]
Homepage = "https://github.com/busy-app/busylib-py"
Repository = "https://github.com/busy-app/busylib-py"
Documentation = "https://busylib.readthedocs.io"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.packages.find]
where = ["src"]

[tool.ruff]
exclude = [
    ".git",
    ".pytest_cache",
    ".ruff_cache",
    ".venv",
    ".vscode",
    "__pycache__",
    "build",
    "dist",
    "venv"
]

line-length = 88
indent-width = 4
target-version = "py310"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"

[tool.pytest.ini_options]
addopts = "-q"
asyncio_mode = "auto"

[dependency-groups]
dev = [
    "pytest>=8.4.1",
]
